extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}
                Blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta mi vel venenatis mollis. Curabitur quis ipsum metus. Vivamus ac ante sit amet sapien malesuada posuere. Quisque felis dui, porta sed rhoncus quis, ullamcorper non quam. Praesent eros magna, feugiat a imperdiet in, sagittis eu magna. Curabitur faucibus tempus neque, id tincidunt ante facilisis sed. Curabitur in nisi tempus, mattis lectus sed, porta ligula. 

                p Etiam sed sem quis libero dignissim posuere eu eu velit. Suspendisse vel malesuada sapien. Quisque imperdiet eget ligula id volutpat. Integer tristique feugiat iaculis. Nunc egestas lacus eu ligula finibus convallis. Suspendisse vestibulum sem ligula, a pellentesque quam tristique id. Donec quis mauris sed arcu fringilla mollis in vitae dui. Nulla vel nulla iaculis, vulputate dui aliquam, ullamcorper dui. Curabitur id lectus ac odio pellentesque fermentum.

                p Nam blandit lacus nisl, ut commodo odio sollicitudin ac. Ut lobortis orci sed metus sollicitudin, a semper leo elementum. Curabitur efficitur, nunc in scelerisque viverra, est urna bibendum dui, ut efficitur tortor metus quis ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin fermentum mi in tincidunt maximus. Curabitur sollicitudin pretium odio, ac malesuada metus finibus sit amet. Nullam sed interdum sapien
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin fermentum mi in tincidunt maximus. Curabitur sollicitudin pretium odio, ac malesuada metus finibus sit amet. Nullam sed interdum sapien

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Proin fermentum mi in tincidunt maximus. Curabitur sollicitudin pretium odio, ac malesuada metus finibus sit amet. Nullam sed interdum sapien
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Proin fermentum mi in tincidunt maximus. Curabitur sollicitudin pretium odio, ac malesuada metus finibus sit amet. Nullam sed interdum sapien





















